
#goingMypg_dialog {
	font-size: 12pt;
	height: 66px !important;
	padding-left: 30px;
	padding-top: 20px;
}

.ui-corner-all {
	border-top-right-radius: 13px;
	border-top-left-radius: 13px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    outline: 0;
}

.ui-dialog .ui-dialog-title {
    float: left;
    margin: .1em 0;
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12pt;
    color: white;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
    background-color: white;
}

.ui-dialog .ui-dialog-titlebar {
    margin: 0px;
    padding: 0.4em 1em;
    position: relative;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: 0px 0px;
    background: none;
    overflow: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ui-widget-content {
    border: 1px solid #ffffff;
    background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #000000;
    border-bottom-right-radius: 13px;
	border-bottom-left-radius: 13px;
}

.ui-widget-header {
    border: 1px solid #ffffff;
    background: none;
    color: #712727;
    font-weight: bold;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 21px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
    background-color: white;
    border: 1px solid white;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    height: 50px;
    padding-right: 60px !important;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    background-image: none;
    margin-top: 0px;
    padding: 0px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom-right-radius: 13px;
	border-bottom-left-radius: 13px;
}

.ui-dialog .ui-dialog-buttonpane button:nth-child(1) {
    margin: 0px;
    margin-right:10px;
    cursor: pointer;
    height: 28px;
    width: 85px;
    font-size: 10pt;
    border: 1px;
    border-radius: 10px;
    background-color: skyblue;
    color: white;
}

.ui-dialog .ui-dialog-buttonpane button:nth-child(2) {
    margin: 0px;
    cursor: pointer;
    height: 28px;
    width: 85px;
    font-size: 10pt;
    border: 1px;
    border-radius: 10px;
    background-color: #c0c0c0;
    color: white;
}
