<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="young">
	<select id="superpowerselect" resultType="DTO.Mybatis.Mybatis_DTO">
		select * from honey_tip order by code_no DESC;
	</select>
	<select id="superpowerselect2" resultType="DTO.Mybatis.Mybatis_DTO" parameterType="DTO.Mybatis.Mybatis_DTO">
		select * from honey_tip where code_no=#{code_no};
	</select>
	<insert id="superpowerinsert" parameterType="DTO.Mybatis.Mybatis_DTO">
		insert into honey_tip(code_no,ht_title, ht_contents, ht_file, u_id, ht_view, ht_like,date11) values(default,#{ht_title}, #{ht_contents}, #{ht_file}, #{u_id}, 0, 0,now());
	</insert>
	<update id="superpowerupdate" parameterType="DTO.Mybatis.Mybatis_DTO">
		update honey_tip set ht_view=ht_view+1 where code_no=#{code_no};
	</update>
	<update id="superpowerupdate2" parameterType="DTO.Mybatis.Mybatis_DTO">
		update honey_tip set ht_contents=#{ht_contents} where code_no=#{code_no};
	</update>
	<delete id="superpowerdelete" parameterType="DTO.Mybatis.Mybatis_DTO">
		delete from honey_tip where code_no=#{code_no};
	</delete>
</mapper>