<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="young">
	<!-- 꿀팁 게시판 -->
	<select id="superpowerselect"  parameterType="Integer" resultType="com.dogpark.dto.BoardBean">
		select * from honey_tip order by code_no DESC limit ${value}, 15;
	</select>
	<select id="ht_select_count" resultType="Integer">
		select count(*) from honey_tip;
	</select>
	<select id="ht_board_read_select" resultType="com.dogpark.dto.BoardBean" parameterType="com.dogpark.dto.BoardBean">
		select * from honey_tip where code_no=#{code_no};
	</select>
	<select id="ht_board_modify_select" resultType="com.dogpark.dto.BoardBean" parameterType="com.dogpark.dto.BoardBean">
		select * from honey_tip where code_no=#{code_no};
	</select>
	<update id="ht_board_modify_update" parameterType="com.dogpark.dto.BoardBean">
		update honey_tip set ht_contents=#{ht_contents} where code_no=#{code_no};
	</update>
	<delete id="ht_board_delete" parameterType="com.dogpark.dto.BoardBean">
		delete from honey_tip where code_no=#{code_no};
	</delete>
	<insert id="ht_boardinsert" parameterType="com.dogpark.dto.BoardBean">
		insert into honey_tip(code_no,ht_title, ht_contents, ht_file, u_id, ht_view, ht_like,date11) values(default,#{ht_title}, #{ht_contents}, #{ht_file}, #{u_id}, 0, 0,now());
	</insert>
	<update id="ht_viewupdate" parameterType="com.dogpark.dto.BoardBean">
		update honey_tip set ht_view=ht_view+1 where code_no=#{code_no};
	</update>
	<insert id="signInsert"  parameterType="com.dogpark.dto.Dto">
		insert into userinfo(id, pwd, nickname, email) values(#{id}, #{pwd}, #{nickname}, #{email});
	</insert>
	
	<!-- 회원가입 id 중복체크 -->
	<select id="signCheck" resultType="String" parameterType="com.dogpark.dto.Dto">
		select id from userinfo where id=#{id};
	</select>
	
	<!-- 로그인 아이디 비밀번호 일치 체크 -->
	<select id="loginCheck" resultType="com.dogpark.dto.Dto" parameterType="String">
		select id, pwd from userinfo where id=#{id};
	</select>
	
	<!-- 공지사항 게시판 -->
	<select id="noticeSelect" resultType="com.dogpark.dto.NoticeDto">
		select * from notice order by code_no DESC;
	</select>
	
	<insert id="nt_boardinsert" parameterType="com.dogpark.dto.NoticeDto">
		insert into notice(code_no, nt_title, nt_contents, u_id, nt_view, date) values(default,#{nt_title}, #{nt_contents}, 'admin', 0, now());
	</insert>
	
	<select id="nt_board_read_select" resultType="com.dogpark.dto.NoticeDto" parameterType="com.dogpark.dto.NoticeDto">
		select * from notice where code_no=#{code_no};
	</select>
	
	<select id="nt_select_count" resultType="Integer">
		select count(*) from honey_tip;
	</select>
	
	<update id="nt_viewupdate" parameterType="com.dogpark.dto.NoticeDto">
		update notice set nt_view=nt_view+1 where code_no=#{code_no};
	</update>
	
	<!-- 브리딩 유저정보,강아지 성별반대 정보 전체조회 -->
	<select id="BreedingSelect" resultType="com.dogpark.dto.BreedingDto">
		select nickname,dog_name,dbirth_year,dog_sex,dog_classify from userinfo,doginfo where not dog_sex='m'<!-- 성별부분 변경할것 --> and userinfo.id = doginfo.u_id ;
	</select>
	
	<!-- 반려견 자랑 게시판 -->
	<select id="dj_select" parameterType="Integer" resultType="com.dogpark.dto.DogjarangDto">
		select * from dog_jarang order by code_no DESC limit ${value}, 4;
	</select>
	<select id="dj_select_count" resultType="Integer">
		select count(*) from dog_jarang;
	</select>
	<select id="dj_board_read_select" resultType="com.dogpark.dto.DogjarangDto" parameterType="com.dogpark.dto.DogjarangDto">
		select * from dog_jarang where code_no=#{code_no};
	</select>
	<insert id="dj_boardinsert" parameterType="com.dogpark.dto.DogjarangDto">
		insert into dog_jarang(code_no,dj_title, dj_contents, dj_file, u_id, dj_view, dj_like,date) values(default,#{dj_title}, #{dj_contents}, #{dj_file}, #{u_id}, 0, 0,now());
	</insert>
	<select id="dj_board_modify_select" resultType="com.dogpark.dto.DogjarangDto" parameterType="com.dogpark.dto.DogjarangDto">
		select * from dog_jarang where code_no=#{code_no};
	</select>
	<update id="dj_board_modify_update" parameterType="com.dogpark.dto.DogjarangDto">
		update dog_jarang set dj_contents=#{dj_contents} where code_no=#{code_no};
	</update>
	<delete id="dj_board_delete" parameterType="com.dogpark.dto.DogjarangDto">
		delete from dog_jarang where code_no=#{code_no};
	</delete>
	<update id="dj_viewupdate" parameterType="com.dogpark.dto.DogjarangDto">
		update dog_jarang set dj_view=dj_view+1 where code_no=#{code_no};
	</update>
	
	<!-- 강아지 분양 파트 -->
	<insert id="ds_reservationinsert" parameterType="com.dogpark.dto.CalendarDto">
		insert into calendar(u_id, date, time) values(#{u_id}, #{date}, #{time});
	</insert>

	<select id="ds_datecount" resultType="com.dogpark.dto.CalendarDto">
		SELECT count(*) as count, day(date) as date FROM calendar group by date;
	</select>
	
	<!-- 쇼핑 게시판(사료) 파트 -->
	<select id="shopSelect" resultType="com.dogpark.dto.ShopDto">
		select * from product order by pd_name ASC;
	</select>
	
	<select id="shop_select_count" resultType="Integer">
		select count(*) from product;
	</select>
	
	<select id="shop_board_read_select" resultType="com.dogpark.dto.ShopDto" parameterType="com.dogpark.dto.ShopDto">
		select * from product where pd_name=#{pd_name};
	</select>
	
	
	
</mapper>