@charset "UTF-8";
@import url("htboard_main.css");
.honeytip_board ul {
		display: table-row-group;
	
}
.honeytip_board li{
		display:inline;
		text-align:center;
		padding:7px 10px;
		vertical-align: middle;
		display: table-cell;
		border-bottom:1px solid rgba(0,0,0,0.15);
		
}
#honeytip_board_No{
		width:50px;
}
#honeytip_board_name{
		width:660px;
}
#honeytip_board_writer{
		width:60px;
}
#honeytip_board_like{
		width:60px;
}
#honeytip_board_count{
		width:60px;
}
#honeytip_board_date{
		width:90px;
}


.honeytip_board_No_detail{
		width:50px;
		font-size:10pt;
}

.honeytip_board_name_detail{
		width:660px;
		font-size:10pt;
}
.honeytip_board_name_detail a{
		text-decoration: none;
		color:black;
		font-size:10pt;
}
.honeytip_board_writer_detail{
		width:60px;
		font-size:10pt;
}
.honeytip_board_like_detail{
		width:60px;
		font-size:10pt;
}
.honeytip_board_count_detail{
		width:60px;
		font-size:10pt;
}
.honeytip_board_date_detail{
		width:90px;
		font-size:10pt;
}

#ht_read_contents{
	border-radius:20px;
	height:900px;
	width:1000px;
	background-color:#f9f9f9;
	margin-top:70px;
	
}

#ht_aside{
	width:300px;
	position: fixed;
  	right: 80px;
  	top: 500px;
  	height: 300px;
  	z-index: 2;
  	border-radius:20px;
  	background-color:#f9f9f9;
  	box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.1);
}
#ht_read_title{
	width:290px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	font-size:14pt;
}
#ht_read_writer{
	margin-top:10px;
	margin-bottom:5px;
	font-size:11pt;
	
}
#ht_read_date{
	margin-bottom:10px;
	font-size:11pt;
	
}
#like_btn{
	width:100px;
	height:30px;
	border-style:none;
	padding:10px 0;
	text-align:center;
	border-radius:10px;
	margin-left:100px;
	background-color:white;
	font-size:12pt;
}
#like_btn:hover{
	background-color:red;
}
#like_count{
	font-size:10pt;
	text-align:center;
}
#heart_btn{
	width:25px;
	height:25px;
}
#ht_text_update{
	width:90px;
	height:40px;
	margin-left:40px;
	margin-top:20px;
}
#ht_text_delete{
	width:90px;
	height:40px;
	margin-left:40px;
	margin-top:20px;
}
#ht_comment_read{
	clear:both;
	border-radius:10px;
	background-color:#f9f9f9;
	width:1000px;
	height:300px;
	margin-top:30px;
}
#ht_comment_write{
	border-radius:10px;
	background-color:#f9f9f9;
	width:890px;
	height:100px;
	margin-top:10px;
	margin-bottom:50px;
	float:left;
}
#ht_comment_btn{
	width:100px;
	height:50px;
	margin-top:30px;
	border-style:none;
}
#board_ph{
		float:left;
		font-size:15pt;
		margin-top:20px;
		margin-bottom:10px;

}
#search_bar{
		float:right;
		border-radius: 10px;
		font-size: 16px;
		outline: none;
		border: 2px solid rgba(0, 0, 0, 0.1);
		width: 180px;
		height:25px;
		box-sizing: border-box;
		margin-top:20px;
		margin-bottom:10px;
		
}
#search_bar:hover {
			border: 2px solid rgba(0, 0, 0, 0.1);
		}
#search_bar:focus {
			border: 2px solid rgba(0, 0, 0, 1);
			background:#eee;
			color:#222;
}
#write_button1{
		float:right;
		margin-top:20px;
		margin-bottom:10px;
		margin-left:10px;
		width:60px;
		height:25px;
}
#write_button2{
		float:right;
		margin-top:10px;
		margin-bottom:10px;
		width:60px;
		height:30px;
}
.paging-block {
    text-align: center;
	clear:both;

}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
li:first-child, ul.pagination li:last-child {
    margin: 0;

}

ul.pagination li {
	display: inline-block;
    margin: 0 3px;
}
ul.pagination li a {
	color:rgba(0,0,0,0.2);
	text-decoration:none;
	display: inline-block;
	height: 24px;
	width: 24px;
	border: none;
	border-radius: 50%;
	padding: 0;
	line-height: 24px;
	font-size: 14px;
}
ul.pagination li a:hover{
	color:black;
}
