

section { 
	width:1400px; 
	height:1400px; 
	position:relative;
	left:395px;
	margin:0; 
	padding-bottom:70px;
}





.accordion {
	 float:left;
	 height:500px;
	 width:1300px;
	 	
	 margin-left:200px;
}
  .accordion article {
     -webkit-transform: perspective(0px) rotateY(0deg);
     -webkit-transition: all 0.5s ease-in-out;
     background: #fff;
	 border-radius: 10px;
     text-align:center;
     float:left;
	 height: 400px;
	 margin:20px;
     margin-left: -100px;
     border:1px solid #E1E1E1;
     width: 260px;
	 box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	 
  }
  
  .accordion article img {
     
    
	height:150px;
	width:260px;
	margin: 0 auto;
	 
  }
  .accordion article:hover {
     -webkit-transform: perspective(15) rotateY(0deg);
     margin: 0 150px 0 -60px;
  }
  .accordion li{
  list-style: none;
  margin:0 auto;
    height:35px; 
  }
  .accordion ul{
  margin:0 auto;
  margin-right:35px;
  }



  .accordion2 {
	float:left;
	 height:500px;
	 width:1300px;
		
	 margin-left:200px;
}
	
  .accordion2 article {
    -webkit-transform: perspective(0px) rotateY(0deg);
     -webkit-transition: all 0.5s ease-in-out;
     background: #fff;
	 border-radius: 10px;
     text-align:center;
     float:left;
	 height: 400px;
	 margin:20px;
     margin-left: -100px;
     border:1px solid #E1E1E1;
     width: 260px;
	 box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  }
  
  .accordion2 article img {
	margin: 0 auto;
	height:150px;
	width:260px;
	
  }
  .accordion2 article:hover {
     -webkit-transform: perspective(15) rotateY(0deg);
     margin: 0 150px 0 -60px;
  }
  .accordion2 li{
  list-style: none;
  line-height:1.6em;
  }
   .accordion2 ul{
  margin:0 auto;
  margin-right:35px;
  }

  #bestlist{
  		float:right;
		border:1px solid black;
		border-radius:10px;
		width:395px;
		height:950px;
		background-color:white;
		
	}
 #bestlist ul{
	margin-top:80px;
 }
 #bestlist li{
	list-style-type:none;
	margin-top:5px;
	font-size:20px;
	padding:25px;
 }
 #yylogo {
	text-align: center;
  }

  #yylogo h1{
	color:white;
  }
 

#cl{
clear:both;
}
.country{
color:blue;
font-size:20px;
font-weight:bold;
}
#sdog{
width:200px;
height:200px;
}
/*-------------------- footer -------------------*/
#footermenu{
	position:absolute;
	left:0px;
	right:0px;
	background-color: #747474;
	width:100%;
	height:250px;
	color:white;
	text-align:center;
	font-size:16px;
}
#footermenu ul{
	padding: 30px 0;
}
#footermenu ul li{
	position: relative;
    display: inline-block;
    padding: 0 10px;
}
#footermenu ul li:first-child {
    padding-left: 0;
}
.footer_info{
	padding-bottom: 70px;
    font-size: 16px;
    font-weight: 300;
    color: #ccc;
}
address, em {
    font-style: normal;
}
#footermenu .footer_info p {
    margin-top: 10px;
}