@charset "UTF-8";
/*-------커뮤니티 메인 내용--------*/


.community_contents{
	
	
    width: 1300px;
    height: 1000px;
    position: absolute;
    left: 480px;
    top: 100px;
    margin: 0;
    padding: 0;
}
.community_contents ul{
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}
.community_contents li{
	padding:0;
	margin:0;
}

#breeding_title{
	text-align:center;
	color:white;
	margin:10px;
	font-size: 30px;
	font-weight: bold;
}
#left_box{
	color:white;
	
}
