/*---------------´Þ·Â Æ²--------------*/
.ios_contents{
	background-color:rgba(153,153,153,0.9);
	width:1300px; 
	height:850px; 
	position:absolute;
	left:480px; 
	top:100px;
	margin:0; 
	padding:20px;
}
 #calendarTable, #calendarTable th, #calendarTable td   {
        border-collapse: collapse;
                    
    } 
    
    #calendarTable {
        border:2px solid #000;
        width:800px;
    }
    
    #calendarTable th, #calendarTable td {
        width: 100px;
        border:1px solid #000;        
        border-collapse: collapse;
        padding: 5px;        
    }
    
    #calendarTable th {        
        background-color: #666;
        color: #fff;
        
    }    
    #calendarTable td {        
        height: 100px;
    }
    
    #calendarTable td.empty {
        background-color: #DFDCD8;
    }
    
    #calendarTable td.toDayColor {
        background-color: #6C7EAA;
    }

#calender_dateselect{	
}
#reservation_button{
	border:1px solid red;
}

