/*---------------´Þ·Â Æ²--------------*/
.ios_contents{
	width:1300px; 
	height:1300px; 
	position:relative;
	left:480px;
	padding-top:500px;
	margin:0; 
	padding-bottom:70px;
}
 #calendarTable, #calendarTable th, #calendarTable td   {
        border-collapse: collapse;
                    
    } 
    
    #calendarTable {
        border:2px solid #000;
        width:900px;
    }
    #calendarTable ul{
    	list-style: none;
    	color:black;
    	padding:0;
    	margin:0;
    }
    
    #calendarTable th, #calendarTable td {
        width: 130px;
        border:1px solid #000;
        border-collapse: collapse;
        
    }
    
    #calendarTable th {        
        background-color: #666;
        color: #fff;
        
    }    
    #calendarTable td {        
        height: 100px;
        
    }
    
    #calendarTable td.empty {
        background-color: #DFDCD8;
    }
    
    #calendarTable td.toDayColor {
        background-color: #6C7EAA;
    }

#calender_dateselect{
	float:left;
	width:300px;
	margin-left:30px;
}
#reservation_button{
	background-color:#ffc88a;
	width:260px;
	height:60px;
	margin-top:30px;
	border-radius:20px;
	border-style:none;
}
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
    
        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 30%; /* Could be more or less, depending on screen size */                          
        }

