/*---------------´Þ·Â Æ²--------------*/
.ios_contents{
	background-color:rgba(153,153,153,0.9);
	width:1300px; 
	height:850px; 
	position:absolute;
	left:480px; 
	top:100px;
	margin:0;
	padding:20px;
}
 #calendarTable, #calendarTable th, #calendarTable td   {
        border-collapse: collapse;
                    
    } 
    
    #calendarTable {
        border:2px solid #000;
        width:900px;
    }
    #calendarTable ul{
    	list-style: none;
    	color:white;
    	padding:0;
    	margin:0;
    }
    
    #calendarTable th, #calendarTable td {
        width: 130px;
        border:1px solid #000;
        border-collapse: collapse;
        
    }
    
    #calendarTable th {        
        background-color: #666;
        color: #fff;
        
    }    
    #calendarTable td {        
        height: 100px;
        
    }
    
    #calendarTable td.empty {
        background-color: #DFDCD8;
    }
    
    #calendarTable td.toDayColor {
        background-color: #6C7EAA;
    }

#calender_dateselect{
	float:left;
	width:300px;
	
	margin-left:30px;
}
#reservation_button{
	
}

